<div class='navbar navbar-default'>
    <div class='container-fluid'>
        <a href='/' class='navbar-brand'>
            <span id='brand'>BooksRUs</span>
            <div ng-hide='$ctrl.username()'>
                 <ul class='nav navbar-nav navbar-right'>
                    <li ng-class='{"active": $ctrl.isActive("/auth/register")}'>
                        <a href='/auth/register'> Sign Up</a>
                    </li>
                    <li ng-class='{"active": $ctrl.isActive("/auth/login")}'>
                        <a href='/auth/login'> Login</a>
                    </li>
                </ul>
            </div>
            <div ng-show='$ctrl.username()'>
                <ul class='nav navbar-nav navbar-left'>
                    <li ng-class='{"active": $ctrl.isActive("/books/mybooks")}'>
                        <a href='/books/mybooks'>My Books</a>
                    </li>
                    <li ng-class='{"active": $ctrl.isActive("/books")}'>
                        <a href='/books'>All Books</a>
                    </li>
                    <li ng-class='{"active": $ctrl.isActive("/requests")}'>
                        <a href='/requests'>Requests</a>
                    </li>
                </ul>
                <ul class='nav navbar-nav navbar-right'>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Hi, {{$ctrl.username()}}<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/users/profile">Profile</a></li>
                        <li><a href="/auth/logout">Logout</a></li>
                    </ul>
                    </li>
                </ul>    
            </div>
        </a>
    </div>
</div>