<div class='navbar navbar-default'>
    <div class='container-fluid'>
        <a href='/' class='navbar-brand'>
            <span id='brand'>BooksRUs</span>
            <div ng-hide='$ctrl.username()'>
                 <ul class='nav navbar-nav navbar-right'>
                    <li>
                        <a href='/auth/register'> Sign Up</a>
                    </li>
                    <li>
                        <a href='/auth/login'> Login</a>
                    </li>
                </ul>
            </div>
            <div ng-show='$ctrl.username()'>
                <ul class='nav navbar-nav navbar-left'>
                    <li>
                        <a href='/books/add' class='glyphicon-plus'>Add Book</a>
                    </li>
                    <li>
                        <a href='/books'>Available Books</a>
                    </li>
                    <li>
                        <a href='#'>Requests</a>
                    </li>
                </ul>
                <ul class='nav navbar-nav navbar-right'>
                    <li>
                        <a> Hi, {{$ctrl.username()}}</a>
                    </li>
                    <li>
                        <a href='/auth/logout'>logout</a>
                    </li>
                </ul>    
            </div>
        </a>
    </div>
</div>