<ul class='nav nav-pills' role='tablist'>
  <li role='presentation' class='active'>
      <a href='#' ng-click='$ctrl.showAvailable()' data-toggle='tab'>Available</a>
    </li>
  <li role='presentation'>
      <a href='#' ng-click='$ctrl.showAll()' data-toggle='tab'>All</a>
  </li>
</ul>
<div id='books' class='books-container'>
    <div class='book' ng-repeat='book in $ctrl.books'>
        <img class='book-thumbnail' ng-src='{{book.thumbnail}}'>
        <br>
        <input type='button' class='btn btn-primary' value='Request'  ng-class='{"not-visible": !book.available}' ng-click='$ctrl.requestBook(book)'>
    </div>
</div>