<div id='requests'>
    <div id='users-requests'>
        <h2>Sent Requests</h2>
        <div class='books-container'>        
            <div ng-repeat='request in $ctrl.usersRequests' class='book' ng-show='$ctrl.usersRequests'>
                <img class='book-thumbnail' ng-src='{{request.book.thumbnail}}'>
                {{$ctrl.statusText(request)}}
                <button class='btn btn-danger' ng-click='$ctrl.cancel(request)' aria-label="Left Align" ng-class='{"not-visible": !$ctrl.isPending(request)}'>
                        <span class='glyphicon glyphicon-remove' title='Cancel request' aria-hidden='true'></span>
                </button>
                
            </div>
            <span ng-show='$ctrl.usersRequests.length < 1'>You have not requested any books yet.</span>
        </div>
    </div>
    
    <div id='pending-requests' ng-show='$ctrl.pendingRequests.length >= 1'>
        <h2>Pending Requests</h2>
        <div class='books-container'>
            <div ng-repeat='request in $ctrl.pendingRequests' class='book'>
                <img class='book-thumbnail' ng-src='{{request.book.thumbnail}}'>
                <div ng-class='{"not-visible": !$ctrl.isPending(request)}'>
                    <button class='btn btn-success' ng-click='$ctrl.approve(request)' aria-label="Left Align">
                        <span class='glyphicon glyphicon-ok' title='Approve request' aria-hidden='true'></span>
                    </button>
                    <button class='btn btn-danger' ng-click='$ctrl.reject(request)' aria-label="Left Align">
                        <span class='glyphicon glyphicon-remove' title='Reject request' aria-hidden='true'></span>
                    </button>
                </div>            
            </div>
        </div>
    </div>
    
    <div id='accepted-requests' ng-show='$ctrl.acceptedRequests.length >= 1'>
        <h2>Accepted Requests</h2>
        <div class='books-container'>
            <div ng-repeat='request in $ctrl.acceptedRequests' class='book'>
                <img class='book-thumbnail' ng-src='{{request.book.thumbnail}}'>
            </div>
        </div>
    </div>
</div>