<div id='login-form' class='form'>
    <form ng-submit='$ctrl.login()'>
        <h2 class='form-heading'>Log In</h2>
        <fieldset>
            <input type='text' class='form-control' id='username' ng-model='$ctrl.username' ng-change='$ctrl.error=""' placeholder='Username' required autofocus>
            <input type='password' class='form-control' id='password' ng-model='$ctrl.password' ng-change='$ctrl.error=""' placeholder='Password' required>
            <error ng-show='$ctrl.error' message='$ctrl.error'></error>
            <input type='submit' id='btnSubmit' value='Login' class='btn btn-lg btn-primary btn-block'>
        </fieldset>
    </form>
</div>